@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity.IsAuthenticated)
{
    <h5>Hello world</h5>
}
else
{
    <a class="btn btn-info" asp-action="Login" asp-controller="Auth">Login with twitch</a>
}